@import url("https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Skranji", cursive;
  background: #acd0eb;
  color: #222;
}
.booklist {
  width: 90%;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}
.book {
  background-color: white;
  width: 100%;
  border-radius: 1rem;
  padding: 2rem 0.5rem;
  text-align: center;
  position: relative;
}
.book label {
  position: absolute;
  top: 0;
  background-color: orange;
  left: 0;
  padding: 0 1rem;
  border-radius: 1rem 0 0 0;
}
.book img {
  width: 100%;
  object-fit: cover;
}
.book h2 {
  margin-top: 1rem;
  font-size: 1rem;
}
.book h4 {
  color: #617d98;
  font-size: 1.3rem;
  margin-top: 0.5rem;
}
